doctype html
html(lang="ru")
	head
		meta(charset="urf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=none")
		title Home | Gratia
		link(href="css/bootstrap.min.css", rel="stylesheet")
		link(href="css/animate.min.css", rel="stylesheet")
		link(rel="stylesheet", href="css/hamburgers.min.css")
		link(rel="stylesheet", href="css/owl.carousel.min.css")
		link(rel="stylesheet", href="css/owl.theme.default.min.css")
	body
		section.header-section.header-section_home <!-- header section -->
			nav.navbar.navbar-expand-lg.navbar-light
				div.col-12.d-flex.flex-lg-row.flex-column.justify-content-between
					div.d-flex.d-block.flex-row.justify-content-between
						a.navbar-brand(href="#")
							img.img-fluid(src="img/main-logo.png", alt="")
						button.hamburger.hamburger--collapse.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
							div.hamburger-box
								span.hamburger-inner
					div.collapse.navbar-collapse#navbarNav.align-self-center
						div.navbar-nav.ml-auto
							a.nav-item.nav-link(href="#") About
							a.nav-item.nav-link(href="#") Menu
							a.nav-item.nav-link(href="#") Gallery
							a.nav-item.nav-link(href="#") Contact
			div.header-section__carousel-wrap.d-flex.flex-column.justify-content-center
				div.owl-carousel.header-section__carousel
					div
						div.card.flex-column.justify-content-center
							img.align-self-center(src="img/slide-1.jpg", alt="")
					div
						div.card.flex-column.justify-content-center
							img.align-self-center(src="img/slide-1.jpg", alt="")
					div
						div.card.flex-column.justify-content-center
							img.align-self-center(src="img/slide-1.jpg", alt="")
		section.col-12.perfection-section <!-- perfection section -->
			div.container
				div.col.perfection-section__caption
					h1 Perfection
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			div.d-flex.flex-wrap.flex-md-row.flex-column.perfection-section__blocks
				div
					img.img-fluid(src="img/desserts.jpg", alt="")
					div.perfection-section__text.d-flex.flex-column.justify-content-center
						div.align-self-center.text-center
							h2 Desserts
							hr
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				div
					img.img-fluid(src="img/smoothies.jpg", alt="")
					div.perfection-section__text.d-flex.flex-column.justify-content-center
						div.align-self-center.text-center
							h2 Smoothies
							hr
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				div
					img.img-fluid(src="img/breakfast.jpg", alt="")
					div.perfection-section__text.d-flex.flex-column.justify-content-center
						div.align-self-center.text-center
							h2 Breakfast
							hr
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			div.d-flex.justify-content-center.perfection-section__more
				a(href="#") Check others offers
		section.details-section.d-flex.flex-column.justify-content-center
			div.col-lg-6.offset-lg-3
				div.card
					div.card-body.d-flex.flex-column.justify-content-between
						div.align-self-center
							h2.card-title Details
						div.align-self-center
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						div.align-self-center
							a.btn.btn-outline-secondary(href="") Preparation of our dishes
		section.reach-section
			div.container
				div.col.reach-section__caption
					h1 How we reach this
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			div.d-flex.flex-wrap.flex-md-row.flex-column.reach-section__blocks
				div
					div.reach-section__text
						div.reach-section__number.d-flex.flex-column.justify-content-center
							div.text-center
								h1 4
						div.reach-section__info.d-flex.flex-column.justify-content-center
							div.text-center
								h2 Diffrent locations
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				div
					div.reach-section__text
						div.reach-section__number.d-flex.flex-column.justify-content-center
							div.text-center
								h1 532
						div.reach-section__info.d-flex.flex-column.justify-content-center
							div.text-center
								h2 Frech products
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				div
					div.reach-section__text
						div.reach-section__number.d-flex.flex-column.justify-content-center
							div.text-center
								h1 16
						div.reach-section__info.d-flex.flex-column.justify-content-center
							div.text-center
								h2 The best from the beggining
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		section.footer-section
			div.footer-section__fork
			div.footer-section__caption
				h6 Gratia Restaurant
				p Copyright 2016. All rights reserved by symu
			div.footer-section__social-icons.d-flex.justify-content-center
				div
					a(href="#")
						img(src="img/facebook-icon.png", alt="")
				div
					a(href="#")
						img(src="img/twitter-icon.png", alt="")
				div
					a(href="#")
						img(src="img/instagram-icon.png", alt="")



		script(type="text/javascript", src="js/jquery.min.js")
		script(type="text/javascript", src="js/bootstrap.min.js")
		script(type="text/javascript", src="js/owl.carousel.min.js")

